@media (max-width: 750px) {
    .slide {
        background-size:cover;
        background-position: center left;
    }
    .slide2 {
        background-size:cover;
        background-position: center right;
    }
    .slide3 {
        background-size:cover;
    }
}